__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

.git/
.idea/
.vscode/

db.sqlite3
zhinadproject/db.sqlite3
media/
zhinadproject/media/
staticfiles/
zhinadproject/staticfiles/

*.log
